static/graphs/
static/pictures/
static/pictures/Cabinets
static/pictures/Coffins
static/pictures/Counter Tops
static/pictures/Custom
static/pictures/Furniture
static/pictures/Solid Surface
static/pictures/Tables
static/pictures/upload.py
static/pictures/ACCESS_TOKEN
*.zip
.vscode/
.venv