<!doctype html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/bootstrap-select.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.8/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.8/dist/cdn/beer.min.js"></script>
    <link href="/static/theme.css" rel="stylesheet">
    <title>Cement Calculator</title>
    <meta property="og:title" content="Cement Calculator" />
    <meta property="og:url" content="http://pinelandcabinets.hbni.net/cementcalculator" />
    <meta property="og:description" content="Cement Calculator" />
    <meta name="description" content="Cement Calculator">
    <meta name="keywords" content="cement, polyheed, he122, mixture, calculator, yards, type 10, micro air, psi">
    <meta name="author" content="Jared Gross">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/cementcalculator.png">
</head>

<body class="light">
    <div class="overlay blur"></div>
    <dialog id="about-dialog">
        <div class="row max center-align">
            <img class="responsive circle border" style="max-width: 150px; height: auto;" fetchpriority="low" loading="lazy"
                src="/static/cementcalculator.png" alt="" width="128"
                height="128">
        </div>
        <div class="padding">
            <h5 class="small center-align" id="app-name-version">Cement Calculator v1.0.0</h5>
            <p class="center-align">
                A comprehensive app for calculating cement mixture.</p>
            <p class="center-align">Developed with <i>favorite</i> by <a class="link"
                    href="https://thecodingjsoftware.github.io/">TheCodingJ's</a></p>
        </div>
        <article class="border" style="margin-top: auto;">
            <p class="center-align">
                For questions, comments, suggestions, <br>
                or concerns about this service please <br>
                email: <a class="link" href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a>.
            </p>
        </article>
        <nav class="right-align no-space">
            <button class="transparent link small-round" onclick="ui('#about-dialog')">Close</button>
        </nav>
    </dialog>
    <header class="fixed primary">
        <nav>
            <button class="circle transparent" onclick="ui('#about-dialog')">
                <img class="responsive"
                    src="/static/cementcalculator.png">
            </button>
            <h5 class="max">Cement Calculator</h5>
            <button id="themeToggle" class="circle transparent" onclick="toggleTheme()">
                <i>dark_mode</i>
            </button>
        </nav>
    </header>
    <main class="responsive">
        <div class="grid">
            <article class="s12 m5 l3">
                <p><i>straighten</i> Yards: <span id="yards-text">0</span></p>
                <p><i>construction</i> Type 10 (kg): <span id="type10">0</span></p>
                <p><i>terrain</i> Pitrun (kg): <span id="pitrun">0</span></p>
                <p><i>water_drop</i> Water (kg): <span id="water">0</span></p>
                <p><i>air</i> Micro Air (mL): <span id="microAir">0</span></p>
                <p><i>science</i> Polyheed (L): <span id="polyheedOutput">0</span></p>
                <p><i>science</i> 122 HE (L): <span id="he122">0</span></p>
            </article>
            <div class="s12 m7 l9">
                <div class="grid bottom-padding">
                    <div class="field prefix label border max extra s8 m8 l4">
                        <i>straighten</i>
                        <input type="number" id="yards" name="yards" value="1.0" required data-has-listeners="true">
                        <label>Yards</label>
                    </div>
                    <div class="no-margin s4 m4 l2">
                        <button class="small small-round tiny-margin row" onclick="changeYards(0.25)">
                            <i>add</i>
                            <span>0.25</span>
                        </button>
                        <button class="small small-round tiny-margin row" onclick="changeYards(-0.25)">
                            <i>remove</i>
                            <span>0.25</span>
                        </button>
                    </div>
                    <div class="field label suffix border s6 m6 l3">
                        <select name="psi" id="psi" data-has-listeners="true">
                            <option value="4500" selected>4500 PSI</option>
                            <option value="4000">4000 PSI</option>
                            <option value="3500">3500 PSI</option>
                            <option value="3000">3000 PSI</option>
                        </select>
                        <label>PSI</label>
                        <i>construction</i>
                        <span class="helper" id="psiHelper"></span>
                    </div>
                    <div class="field label suffix border s6 m6 l3">
                        <select name="calcium" id="calcium" data-has-listeners="true">
                            <option value="0" selected>0% Calcium</option>
                            <option value="1">1% Calcium</option>
                            <option value="2">2% Calcium</option>
                        </select>
                        <label>Calcium</label>
                        <i>science</i>
                    </div>
                </div>
                <article class="left-align">
                    <h4>Quick Select Yards</h4>
                    <div class="grid center-align">
                        <button class="small small-round s4 m4 l4" onclick="setYards(3)">
                            <span>3</span>
                        </button>
                        <button class="small small-round s4 m4 l4" onclick="setYards(3.5)">
                            <span>3.5</span>
                        </button>
                        <button class="small small-round s4 m4 l4" onclick="setYards(4)">
                            <span>4</span>
                        </button>
                        <button class="small small-round s4 m4 l4" onclick="setYards(4.5)">
                            <span>4.5</span>
                        </button>
                        <button class="small small-round s4 m4 l4" onclick="setYards(5)">
                            <span>5</span>
                        </button>
                        <button class="small small-round s4 m4 l4" onclick="setYards(5.5)">
                            <span>5.5</span>
                        </button>
                        <button class="small small-round s4 m4 l4" onclick="setYards(6)">
                            <span>6</span>
                        </button>
                        <button class="small small-round s4 m4 l4" onclick="setYards(6.5)">
                            <span>6.5</span>
                        </button>
                        <button class="small small-round s4 m4 l4" onclick="setYards(7)">
                            <span>7</span>
                        </button>
                    </div>
                </article>
                <div class="grid">
                </div>
            </div>
        </div>
        <br>
        <label class="checkbox icon padding">
            <input type="checkbox" id="editModeCheckbox" onchange="toggleEditMode()" data-has-listeners="true">
            <span>
                <i>edit_off</i>
                <i>edit</i>
            </span>
            <span>Edit Mode</span>
        </label>
        <div class="grid" id="editTables" style="display: none;">
            <div class="s12 m4 l4">
                <article>
                    <h4>PSI</h4>
                    <br>
                    <div id="psiLookupTable"></div>
                </article>
            </div>
            <div class="s12 m8 l8">
                <article >
                    <h4>Calcium</h4>
                    <br>
                    <div id="calciumLookupTable"></div>
                </article>
            </div>
            <br>
            <div class="s12">
                <button class="small-round" type="button" onclick="saveLookupTables()">
                    <i>save</i>
                    <span>Save Tables</span>
                </button>
                <button class="small-round" type="button" onclick="resetLookupTables()">
                    <i>refresh</i>
                    <span>Reset Tables</span>
                </button>
            </div>
        </div>
    </main>
    <script>
        let currentPowder = 0;
        let log = [];

        const defaultPsiLookupTable = {
            4500: 276.0,
            4000: 230.0,
            3500: 195.0,
            3000: 186.0,
            2500: 177.0
        };

        const defaultCalciumLookupTable = {
            0: {
                polyheed: 500.0,
                he122: 0.0
            },
            1: {
                polyheed: 500.0,
                he122: 1000.0
            },
            2: {
                polyheed: 250.0,
                he122: 1750.0
            }
        };

        let psiLookupTable = JSON.parse(localStorage.getItem('psiLookupTable')) || JSON.parse(JSON.stringify(defaultPsiLookupTable));
        let calciumLookupTable = JSON.parse(localStorage.getItem('calciumLookupTable')) || JSON.parse(JSON.stringify(defaultCalciumLookupTable));

        function toggleTheme() {
            const body = document.body;
            const icon = document.querySelector('#themeToggle i');
            if (body.classList.contains('dark')) {
                body.classList.remove('dark');
                body.classList.add('light');
                icon.textContent = 'dark_mode';
                localStorage.setItem('theme', 'light');
            } else {
                body.classList.remove('light');
                body.classList.add('dark');
                icon.textContent = 'light_mode';
                localStorage.setItem('theme', 'dark');
            }
        }

        function applyTheme() {
            const savedTheme = localStorage.getItem('theme') || 'light';
            const body = document.body;
            const icon = document.querySelector('#themeToggle i');
            body.classList.add(savedTheme);
            icon.textContent = savedTheme === 'dark' ? 'light_mode' : 'dark_mode';
        }

        function setYards(value) {
            document.getElementById('yards').value = value;
            calculate();
        }

        function changeYards(delta) {
            const yardsInput = document.getElementById('yards');
            let currentValue = parseFloat(yardsInput.value) || 0;
            currentValue += delta;
            yardsInput.value = currentValue.toFixed(2);
            calculate();
        }

        function updatePsiHelper() {
            const psi = document.getElementById('psi').value;
            const helperText = document.getElementById('psiHelper');
            helperText.textContent = `${psiLookupTable[psi]} kg/yard`;
        }

        function calculate() {
            const yards = parseFloat(document.getElementById('yards').value);
            const calcium = parseInt(document.getElementById('calcium').value);
            const psi = parseInt(document.getElementById('psi').value);

            // Lookup values from tables
            const type10PerYard = psiLookupTable[psi];
            const calciumData = calciumLookupTable[calcium];

            // Perform calculations using lookup values
            const type10 = type10PerYard * yards;
            const pitrun = yards * 1451;
            const water = yards * 100;
            const microAir = yards * type10PerYard * 22 / 100;
            const polyheed = yards * type10PerYard * calciumData.polyheed / 100000;
            const he122 = yards * type10PerYard * calciumData.he122 / 100000

            // Update output elements
            document.getElementById('yards-text').innerText = yards.toFixed(2);
            document.getElementById('type10').innerText = type10.toFixed(2);
            document.getElementById('pitrun').innerText = pitrun.toFixed(2);
            document.getElementById('water').innerText = water.toFixed(2);
            document.getElementById('microAir').innerText = microAir.toFixed(2);
            document.getElementById('polyheedOutput').innerText = polyheed.toFixed(2);
            document.getElementById('he122').innerText = he122.toFixed(2);
            updatePsiHelper();
        }

        function toggleEditMode() {
            const editModeCheckbox = document.getElementById('editModeCheckbox');
            const editTables = document.getElementById('editTables');
            if (editModeCheckbox.checked) {
                editTables.style.display = 'grid';
                loadLookupTables();
            } else {
                editTables.style.display = 'none';
            }
        }

        function loadLookupTables() {
            const psiContainer = document.getElementById('psiLookupTable');
            const calciumContainer = document.getElementById('calciumLookupTable');
            psiContainer.innerHTML = '';
            calciumContainer.innerHTML = '';
            for (const [psi, value] of Object.entries(psiLookupTable)) {
                const fieldDiv = document.createElement('div');
                fieldDiv.className = 'field label border';
                const label = document.createElement('label');
                label.textContent = `${psi} PSI:`;
                const input = document.createElement('input');
                input.type = 'number';
                input.value = value;
                input.dataset.key = psi;
                fieldDiv.appendChild(input);
                fieldDiv.appendChild(label);
                psiContainer.appendChild(fieldDiv);
            }
            for (const [calcium, data] of Object.entries(calciumLookupTable)) {
                const grid = document.createElement('div');
                grid.className = 'grid';
                calciumContainer.appendChild(grid);

                const percentFieldDiv = document.createElement('h5');
                percentFieldDiv.className = 'middle-align s12 m2 l2';
                percentFieldDiv.innerText = `${calcium}%`;
                grid.appendChild(percentFieldDiv);

                const polyheedFieldDiv = document.createElement('div');
                polyheedFieldDiv.className = 'field label border prefix s12 m5 l5';
                const polyheedIcon = document.createElement('i');
                polyheedIcon.textContent = 'science';
                const polyheedLabel = document.createElement('label');
                polyheedLabel.textContent = 'Polyheed (L):';
                const polyheedInput = document.createElement('input');
                polyheedInput.type = 'number';
                polyheedInput.value = data.polyheed;
                polyheedInput.dataset.key = calcium;
                polyheedInput.dataset.type = 'polyheed';
                polyheedFieldDiv.appendChild(polyheedIcon);
                polyheedFieldDiv.appendChild(polyheedInput);
                polyheedFieldDiv.appendChild(polyheedLabel);
                grid.appendChild(polyheedFieldDiv);

                const he122FieldDiv = document.createElement('div');
                he122FieldDiv.className = 'field label border prefix s12 m5 l5';
                const he122Icon = document.createElement('i');
                he122Icon.textContent = 'science';
                const he122Label = document.createElement('label');
                he122Label.textContent = 'HE122 (L):';
                const he122Input = document.createElement('input');
                he122Input.type = 'number';
                he122Input.value = data.he122;
                he122Input.dataset.key = calcium;
                he122Input.dataset.type = 'he122';
                he122FieldDiv.appendChild(he122Icon);
                he122FieldDiv.appendChild(he122Input);
                he122FieldDiv.appendChild(he122Label);
                grid.appendChild(he122FieldDiv);
            }
        }

        function saveLookupTables() {
            const psiContainer = document.getElementById('psiLookupTable');
            const calciumContainer = document.getElementById('calciumLookupTable');
            psiLookupTable = {};
            calciumLookupTable = {};
            for (const input of psiContainer.querySelectorAll('input')) {
                const psi = input.dataset.key;
                const value = parseFloat(input.value);
                psiLookupTable[psi] = value;
            }
            for (const input of calciumContainer.querySelectorAll('input')) {
                const calcium = input.dataset.key;
                const type = input.dataset.type;
                if (!calciumLookupTable[calcium]) {
                    calciumLookupTable[calcium] = {};
                }
                calciumLookupTable[calcium][type] = parseFloat(input.value);
            }
            localStorage.setItem('psiLookupTable', JSON.stringify(psiLookupTable));
            localStorage.setItem('calciumLookupTable', JSON.stringify(calciumLookupTable));

            alert('Lookup tables saved.');
            calculate();
        }

        function resetLookupTables() {
            psiLookupTable = JSON.parse(JSON.stringify(defaultPsiLookupTable));
            calciumLookupTable = JSON.parse(JSON.stringify(defaultCalciumLookupTable));

            // Clear localStorage
            localStorage.removeItem('psiLookupTable');
            localStorage.removeItem('calciumLookupTable');

            loadLookupTables();
            alert('Lookup tables reset to default values.');
            calculate();
        }
        document.addEventListener('DOMContentLoaded', (event) => {
            applyTheme();
            document.getElementById('yards').addEventListener('input', calculate);
            document.getElementById('calcium').addEventListener('change', calculate);
            document.getElementById('psi').addEventListener('change', calculate);
            if (localStorage.getItem('psiLookupTable') && localStorage.getItem('calciumLookupTable')) {
                psiLookupTable = JSON.parse(localStorage.getItem('psiLookupTable'));
                calciumLookupTable = JSON.parse(localStorage.getItem('calciumLookupTable'));
            }
            calculate();
        });
    </script>
</body>

</html>