<!doctype html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="application-name" content="Pineland Cabinets" />
  <meta name="theme-color" content="#4adada" />
  <meta name="name" content="Pineland Cabinets" />
  <meta
    name="description"
    content="Specializing in custom cabinets, furniture and woodworking"
  />
  <meta
    name="keywords"
    content="cabinets, furniture, woodworking, custom cabinets, Pineland Colony, pineland"
  />
  <meta name="author" content="TheCodingJ's" />
  <meta name="subject" content="Custom Cabinetry and Woodworking" />
  <meta name="rating" content="General" />
  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />
  <meta name="google" content="nositelinkssearchbox" />
  <meta name="google" content="notranslate" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="x-dns-prefetch-control" content="off" />
  <meta name="referrer" content="no-referrer" />
  <meta name="geo.region" content="CA-MB" />
  <meta name="geo.placename" content="Pineland Colony" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Pineland Cabinets" />
  <meta property="og:image" content="/static/favicon.png" />
  <meta property="og:description" content="Pineland Colony Cabinetry." />
  <meta property="og:url" content="https://pinelandcabinets.hbni.net" />
  <meta property="og:title" content="Pineland Cabinets" />
  <title>Pineland Cabinets</title>
  <link
    href="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.css"
    rel="stylesheet"
  />
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/beercss@3.7.10/dist/cdn/beer.min.js"
  ></script>
  <link href="/static/theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/static/jquery.fittext.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="icon" href="/static/favicon.png" />
  <script src="https://circletype.labwire.ca/dist/circletype.min.js"></script>
  <link rel="stylesheet" href="/static/photobox/photobox.css" />
  <script src="/static/photobox/jquery.photobox.js"></script>
</head>

<div class="overlay blur"></div>
<dialog class="left medium-width" id="about-dialog">
  <div class="row max center-align">
    <img
      class="responsive circle border"
      style="max-width: 150px; height: auto"
      fetchpriority="low"
      loading="lazy"
      src="/static/favicon.png"
      alt=""
      width="128"
      height="128"
    />
  </div>
  <div class="padding">
    <h5 class="small center-align" id="app-name-version">Pineland Cabinets</h5>
    <p class="center-align medium-width">
      Specializing in Cabinets, Furniture, Wood working, and much more.
    </p>
    <p class="center-align">
      Developed with
      <i>favorite</i>
      by
      <a class="link" href="https://thecodingjsoftware.github.io/"
        >TheCodingJ's</a
      >
    </p>
  </div>
  <article class="border" style="margin-top: auto">
    <p class="center-align medium-width">
      For questions, comments, suggestions, or concerns about this service
      please email:
      <a class="link" href="mailto:jared@pinelandfarms.ca"
        >jared@pinelandfarms.ca</a
      >.
    </p>
  </article>
  <nav class="right-align no-space">
    <button class="transparent link small-round" onclick="ui('#about-dialog')">
      Close
    </button>
  </nav>
</dialog>

<div class="overlay blur"></div>
<dialog class="right medium-width" id="apps-dialog">
  <div class="scroll padding">
    <article class="medium-width">
      <div class="row">
        <img class="small-round large" src="/static/bitsapp.png" />
        <div class="max">
          <h5>CNC Bits App</h5>
          <p>
            A comprehensive app for calculating feedrate and chipload for CNC
            machinery.
          </p>
        </div>
      </div>
      <nav>
        <button
          class="small-round border"
          onclick="window.open('https://pinelandcabinets.hbni.net/bitsapp')"
        >
          <span>Open</span>
        </button>
      </nav>
    </article>

    <article class="medium-width">
      <div class="row">
        <img class="circle large" src="/static/cementcalculator.png" />
        <div class="max">
          <h5>Cement Calculator</h5>
          <p>A comprehensive app for calculating cement mixture.</p>
        </div>
      </div>
      <nav>
        <button
          class="small-round border"
          onclick="window.open('https://pinelandcabinets.hbni.net/cementcalculator')"
        >
          <span>Open</span>
        </button>
      </nav>
    </article>

    <article class="medium-width">
      <div class="row">
        <img class="circle large" src="/static/paintcalculator.png" />
        <div class="max">
          <h5>Paint Calculator</h5>
          <p>A comprehensive app for calculating paint and primer mixture.</p>
        </div>
      </div>
      <nav>
        <button
          class="small-round border"
          onclick="window.open('https://pinelandcabinets.hbni.net/paintcalculator')"
        >
          <span>Open</span>
        </button>
      </nav>
    </article>
  </div>
  <article class="border" style="margin-top: auto">
    <p class="center-align medium-width">
      For questions, comments, suggestions, or concerns about these services
      please email:
      <a class="link" href="mailto:jared@pinelandfarms.ca"
        >jared@pinelandfarms.ca</a
      >.
    </p>
  </article>
  <nav class="right-align no-space">
    <button class="transparent link small-round" onclick="ui('#apps-dialog')">
      Close
    </button>
  </nav>
</dialog>

<header class="fixed">
  <nav>
    <button class="circle transparent" onclick="ui('#about-dialog')">
      <img class="responsive" src="/static/favicon.png" />
    </button>
    <div class="max"></div>
    <button class="circle transparent" onclick="ui('#apps-dialog')">
      <i>apps</i>
    </button>
  </nav>
</header>

<header class="no-padding no-margin">
  <div class="center-align">
    <img
      class="responsive"
      src="/static/background-middle.png"
      style="max-width: 1000px; height: auto; z-index: 9999"
      alt="Pineland Cabinets"
    />
  </div>
  <div class="center" style="z-index: 6">
    <h1 id="arch">
      Specializing in Cabinets, Furniture, Wood working, and much more.
    </h1>
  </div>
  <nav
    class="tabbed l"
    style="z-index: 9999; max-width: 600px !important; margin: auto"
  >
    <a href="tel:+1-204-229-7793">
      <i>mail</i>
      <span class="small-text">(204) 229-7793</span>
    </a>
    <a href="mailto:joseph@pinelandfarms.ca">
      <i>phone</i>
      <span class="small-text">joseph@pinelandfarms.ca</span>
    </a>
    <a
      href="https://www.google.com/maps/place/Pineland+Farms+Ltd/@49.0269603,-95.9701472,14.14z/data=!4m15!1m8!3m7!1s0x52c08493ea8bf6c5:0xaf79f9ba72f12f21!2sPiney,+MB+R0A+1K0!3b1!8m2!3d49.075166!4d-95.979087!16s%2Fm%2F02vmdr5!3m5!1s0x52bf6360eb794bb9:0xa378d14cd514c15a!8m2!3d49.0227531!4d-95.957069!16s%2Fg%2F11b5wnrvrs?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D"
    >
      <i>map</i>
      <span class="small-text no-line">Pineland Colony. Piney, MB</span>
    </a>
  </nav>
</header>

<body class="light">
  <main class="responsive">
    <div class="tabs scroll left-align">
      {% for folder, folder_data in folders.items() %}
      <a class="{{ 'active' if loop.first else '' }}" data-ui="#{{folder}}">
        {{folder_data}}
      </a>
      {% endfor %}
    </div>
    <div id="portfolio" class="small-padding">
    </div>
    <article class="s m">
      <h4 class="center-align">Pineland Cabinets</h4>
      <div class="grid">
        <a
          class="link wave small-round s12 m4 l4"
          href="mailto:joseph@pinelandfarms.ca"
        >
          <i>mail</i>
          <span class="small-padding">joseph@pinelandfarms.ca</span>
        </a>
        <a class="link wave small-round s12 m4 l4" href="tel:2042297793">
          <i>phone</i>
          <span class="small-padding">204-229-7793</span>
        </a>
        <a
          class="link wave small-round s12 m4 l4"
          href="https://www.google.com/maps/place/Pineland+Farms+Ltd/@49.0269603,-95.9701472,14.14z/data=!4m15!1m8!3m7!1s0x52c08493ea8bf6c5:0xaf79f9ba72f12f21!2sPiney,+MB+R0A+1K0!3b1!8m2!3d49.075166!4d-95.979087!16s%2Fm%2F02vmdr5!3m5!1s0x52bf6360eb794bb9:0xa378d14cd514c15a!8m2!3d49.0227531!4d-95.957069!16s%2Fg%2F11b5wnrvrs?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D"
        >
          <i>map</i>
          <span class="small-padding">Piney, MB</span>
        </a>
      </div>
      <p class="center-align">Copyright 2022 by Pineland Colony</p>
    </article>
  </main>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new CircleType(document.getElementById("arch")).radius(5000);
    document.getElementById("arch").style.fontSize = "2.5vw"; // Assuming fitText functionality is to adjust font size
    var selectedClass = "";
    var filCats = document.querySelectorAll(".fil-cat");
    filCats.forEach(function (cat) {
      cat.addEventListener("click", function () {
        selectedClass = this.getAttribute("data-rel");
        var portfolio = document.getElementById("portfolio");
        portfolio.style.opacity = "0.1";
        var tiles = document.querySelectorAll("#portfolio div");
        tiles.forEach(function (tile) {
          if (!tile.classList.contains(selectedClass)) {
            tile.style.display = "none";
            tile.classList.remove("scale-anm");
          }
        });
        setTimeout(function () {
          var selectedTiles = document.querySelectorAll("." + selectedClass);
          selectedTiles.forEach(function (tile) {
            tile.style.display = "block";
            tile.classList.add("scale-anm");
          });
          portfolio.style.opacity = "1";
        }, 300);
      });
    });
    setTimeout(fetchImages, 300);
  });
  async function fetchImages() {
    try {
      const response = await fetch("/get_images");
      const pictures = await response.json();
      const portfolio = document.getElementById("portfolio");
      let isFirst = true;
      for (const [folder, folderImages] of Object.entries(pictures)) {
        const page = document.createElement("div");
        page.className = isFirst ? "page active" : "page";
        page.id = folder;
        isFirst = false;

        folderImages.forEach((picture) => {
          const a = document.createElement("a");
          a.href = `/static/${picture}`;

          const img = document.createElement("img");
          img.rel = "preload";
          img.dataset.src = `/static/${picture}`;
          img.alt = "Loading...";
          img.loading = "lazy";
          img.className = "image";

          a.appendChild(img);
          page.appendChild(a);
        });

        portfolio.appendChild(page);
      }

      // Initialize Photobox
      $("#portfolio").photobox("a", { time: 0 });

      // Lazy loading with IntersectionObserver
      const lazyImages = document.querySelectorAll(".page img");
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              const img = entry.target;
              img.src = img.dataset.src;
              img.style.transition = "opacity 0.5s";
              img.style.opacity = "1";
              observer.unobserve(img);
            }
          });
        },
        { rootMargin: "0px 0px 200px 0px" }
      );

      lazyImages.forEach((img) => observer.observe(img));
    } catch (error) {
      console.error("Error loading images:", error);
    }
  }
</script>
