<head>
    <link rel="icon" href="/static/favicon.png">
    <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css"
        rel="stylesheet" />
    <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css"
        rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href='/static/main.css' />
    <meta property="og:title" content="Pineland Cabinets" />
    <meta property="og:url" content="http://pinelandcabinets.hbni.net:5040" />
    <meta property="og:description" content="Pineland Colony Cabinetry." />
    <h1>User Count Graphs for Website visits</h1>
    <h4 style="text-align: center;">Most recent is first</h4>
    {% for graph in graphs %}
    <div class="user_scroll">
        <a href="{{graph}}"> <img src="{{graph}}" class='image' alt=""/></a>
    </div>
    {% endfor %}

<footer>
    <div class="footer-container">
        <h4>Pineland Cabinets</h4>
    <div class="address">For Questions, Comments or Concerns about this service please email: <a
        href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a></p>
        </div>
    <br>
    <div class="footer-bottom">
        Copyright 2022 by TheCodingJ's
    </div>
</footer>
</head>

<script>
    $(function () {
        var selectedClass = "";
        $(".fil-cat").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(100, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut().removeClass('scale-anm');
            setTimeout(function () {
                $("." + selectedClass).fadeIn().addClass('scale-anm');
                $("#portfolio").fadeTo(300, 1);
            }, 300);

        });
    });
</script>